.orderButton {
  padding: 10px 30px;

  display: grid;
  place-items: center;

  background-color: #5c74cb;

  outline: none;

  border: none;
  border-radius: 15px;

  color: white;

  &:hover {
    cursor: pointer;
  }
}
