.buttonSwitcherContainer {
  display: flex;
  flex-direction: column;

  .button {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &.selected {
      color: white;
      background-color: rgba($color: #5c74cb80, $alpha: 0.5);
    }
  }
}

.imageSwitcherContainer {
  display: flex;

  .imageDisplayContainer {
    display: flex;
    flex-direction: column;

    margin-right: 15px;

    .partImage {
      padding: 20px;
      border: 1px solid black;
      border-radius: 7px;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      margin-bottom: 10px;

      background-color: #ffd580;

      &:hover {
        cursor: pointer;
      }

      &.disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }

      &.selected {
        border-width: 3px;
      }
    }
  }

  .controls {
    width: 20px;
    height: 100px;

    border: 1px solid black;
    border-radius: 10px;
  }
}
