.buttonSwitcherContainer {
  display: flex;
  flex-direction: column;

  .button {
    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &.selected {
      color: white;
      background-color: rgba($color: #5c74cb80, $alpha: 0.5);
    }
  }
}

.imageSwitcherContainer {
}
