.tabs {
  padding: 20px 60px 10px;

  margin-bottom: 40px;
}

.leftSelector {
  margin: 0px 50px;
}

.orderButtonContainer {
  margin-top: 20px;
  margin-right: 180px;
  display: flex;
  flex-direction: row-reverse;
}
