@use "@/shared/styles/variables";

.tooltip {
  position: fixed;

  pointer-events: none;

  z-index: 1100;

  max-width: 300px;

  padding: 8px 12px;

  background-color: #fff;

  box-shadow: variables.$watchly-inset-shadow;
  border-radius: 8px;

  font-size: variables.$font-size-sm;

  line-height: 1.4;

  color: #000;

  white-space: normal;
}
